<h1 class="text-center mb-4">Home</h1>

<div class="container d-flex flex-column align-items-center">
<%= image_tag 'profile_low.png', alt: 'Profile Cristobal', class: 'img-responsive rounded-circle', width: 250, height: 250 %>
</br>
</br>
<p>
I am an innovative designer living in Thailand with over five years in the industry. My passion lies in the mix of physical and digital products and their high impact on user needs. As a professional, I bring a unique perspective to each project, focusing on research and new design trends. I aim to create impactful solutions that meet user needs and drive results. I am highly skilled in agile methodologies, UX/UI design, front-end development through programming languages like JavaScript, and 3D mechanical modeling to enhance human-computer interaction (HCI).
</p>
<p>
As a dedicated and empathetic professional designer, I bring positivity and enthusiasm to my work and possess strong leadership skills and the ability to work with cross-functional teams effectively. I am confident in my ability to make a meaningful contribution to any organization, leveraging my extensive experience and proven track record. I am eager to apply my expertise and passion to a dynamic and innovative company.
</p>
</div>
